<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>



<button class="button button1"><a href="/register">Sign up!!</a></button>
<button class="button button2"><a href="/login">Login</a></button>
<button class="button button3"><a href="/logout">Logout</a></button>


</body>
</html>